<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>KeyStroke</title>
    <!-- Meta-Tags -->
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {#    <meta name="keywords" content="Quick Sign In & Sign Up form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css" media="all">
    <!-- onlinefonts -->
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- //Custom-Stylesheet-Links -->
</head>

<body>

<header>
    <h1 class="title-agile text-center">KeyStroke</h1>
</header>
<!-- //header -->

{#<hr>#}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-8">
            {#            <h1 class="text-white text-center">Hello </h1><br/>#}
        </div>
        <div class="col-sm-2">
                       <a href="/mousereg" <h1 class="text-white text-center">Mouse Based</h1><br/>
        </div>
        <div class="col-sm-2">
            <a href="/logout" class="pull-right">
                <img title="profile image"
                     class="img-circle img-responsive"
                        {#                     height="5px"#}
                     width="25px"
                        {#                     src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100">#}
                     src="https://media.istockphoto.com/vectors/power-button-vector-id1160410653">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><!--left col-->


            {#            <div class="text-center">#}
            {#                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"#}
            {#                     alt="avatar">#}
            {#                <h6 class="text-white text-center">Upload a different photo...</h6><br/>#}
            {#                <input type="file" class="text-center text-white center-block file-upload">#}
            {#            </div>#}
            </hr><br>


        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                <li><a data-toggle="tab" href="#log">Log</a></li>
                {#                <li><a data-toggle="tab" href="#settings">Menu 2</a></li>#}
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <hr>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4 class="text-center text-white">Name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                       value="{{ data.login.name }}"
                                       placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4 class="text-center text-white">Username</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       value="{{ data.username }}"
                                       placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4 class="text-center text-white">Phone</h4></label>
                                <input type="text" class="form-control" name="phone" id="phone"
                                       value="{{ data.login.phone }}"
                                       placeholder="enter phone" title="enter your phone number if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile"><h4 class="text-center text-white">Address</h4></label>
                                <input type="text" class="form-control" name="mobile" id="mobile"
                                       value="{{ data.login.address }}"
                                       placeholder="enter mobile number" title="enter your address.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4 class="text-center text-white">Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email"
                                       value="{{ data.login.email }}"
                                       placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4 class="text-center text-white">Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password"
                                       value="{{ data.password }}"
                                       placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-dark btn-block" type="submit">
                                    UPDATE
                                </button>
                            </div>
                        </div>
                    </form>

                </div><!--/tab-pane-->
                {#                <h1 class="mt-5 text-center text-white">Profile Updation Successfull</h1>#}
                <div class="tab-pane" id="log">

                    <h2></h2>

                    {#                    <hr>#}
                    <br/>
                    <div class="container">
                        <div style="max-width: 80%; table-layout:auto; overflow: auto">
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                            <br>

                            <table class="table table-bordered text-center text-white">
                                <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Timestamp</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                {#                                <tr>#}
                                {#                                    <td>Logged In</td>#}
                                {#                                    <td>2019-9-1 12:54:08</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {#                                <tr>#}
                                {#                                    <td>Logged Out</td>#}
                                {#                                    <td>2019-9-1 05:01:23</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {#                                <tr>#}
                                {#                                    <td>Logged In</td>#}
                                {#                                    <td>2019-9-15 05:04:52</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {#                                <tr>#}
                                {#                                    <td>Logged In</td>#}
                                {#                                    <td>2019-9-15 05:04:52</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {#                                <tr>#}
                                {#                                    <td>Logged In</td>#}
                                {#                                    <td>2019-9-21 01:44:15</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {#                                <tr>#}
                                {#                                    <td>Logged In</td>#}
                                {#                                    <td>2019-9-30 02:23:30</td>#}
                                {#                                    <td>normal</td>#}
                                {#                                </tr>#}
                                {% for log in  userLog %}
                                    <tr>
                                        <td>{{ log.operation }}</td>
                                        <td>{{ log.timestamp }}</td>
                                        <td>{{ log.status }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {#                                                <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>#}
                    </div>

                    <script>
                        $(document).ready(function () {
                            $("#myInput").on("keyup", function () {
                                var value = $(this).val().toLowerCase();
                                $("#myTable tr").filter(function () {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                });
                            });
                        });
                    </script>

                </div><!--/tab-pane-->

            </div><!--/tab-pane-->
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->
<footer>
    <div class="copy-wthree text-center">
        {#            <p>© 2018 Quick Signin & Signup form. All rights reserved | Design by#}
        {#                <a href="http://w3layouts.com">W3layouts</a>#}
        {#            </p>#}
    </div>
</footer>
<!-- //footer -->
<!-- script for password match -->
<script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }

    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });

</script>
<!-- script for password match -->
</body>
<!-- //Body -->

</html>